body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	background-color: purple;
	position: relative; 
	left: 8px;
}

.route_to_tech{
	background-color: purple;
	color: #FFFFFF;
	text-align: center;
}

